[submodule "reward_shaping/envs/f1tenth/core/f1tenth_gym"]
	path = reward_shaping/envs/f1tenth/core/f1tenth_gym
	url = git@github.com:f1tenth/f1tenth_gym.git
[submodule "reward_shaping/envs/f1tenth/core/f1tenth_racetracks"]
	path = reward_shaping/envs/f1tenth/core/f1tenth_racetracks
	url = git@github.com:f1tenth/f1tenth_racetracks.git
