gym[box2d]
pyglet
h5py
matplotlib
numpy
stable-baselines3[extra]
sb3-contrib
moviepy
PyYAML
git+https://github.com/nickovic/rtamt.git
networkx
tensorboard
yamldataclassconfig
-e git+https://github.com/axelbr/racecar_gym.git#egg=racecar_gym