gym[box2d]<0.22.0
pyglet~=1.5.19
h5py~=3.1.0
matplotlib~=3.4.3
numpy~=1.23.1   # TODO: check update versions of numpy, sb3 does not break anything
stable-baselines3~=1.5.0
moviepy~=1.0.3
PyYAML~=5.4.1
git+https://github.com/nickovic/rtamt.git@a16db77b61028f774d81457ff22e666229a5432c
tensorboard~=2.8.0
yamldataclassconfig~=1.5.0
protobuf<=3.20
